*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

body{
    font-family: Arial, sans-serif;
    
}
 
header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #111111;


}

.logo {
    
    color: white;
    font-size: 45px;
    

}
ul {
   color: white;
   text-decoration: none;
   margin-left: 20px;
   display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
   overflow: visible;
   
}

ul li {
    float: right;
}
 nav  li a{
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 24px 20px;
    color: white;

  }



nav a:hover{
    color: blue;

}

.dropdown{
    position: relative;

}

.dropdown-content{

    display: none;
    position: absolute;
    background-color: #111111;
    min-width: 125px;
    box-shadow: 0px 8px 10px 0px rgb(107, 1, 1);
    z-index: 10;
    
    
}
.dropdown-content a {
    color: white;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.dropdown-content:hover{
    background-color: darkslategrey;

}

.dropdown:hover .dropdown-content{
    display: inline-block;
}






.hero{

  height: 50vh;
  
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;





}

.hero p{
    padding: 10px 15px;
}


.hero button{
    margin-top: 20px;
    padding: 12px 25px;

}

.grid{
    display: grid;
}

.cars{

    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 50px;


}



.card{ /* for ferrari*/

    margin-top: 60px;

    width: 300px;
     
    border: 1px solid rgb(248, 246, 246);

    border-radius: 10px;

    overflow: hidden;

    box-shadow: 0 0 10px rgba(0,0,0,.2);
    
    margin-bottom: 60px;

}
.card img{
    width: 100%;
   
    
}



.card h3{
    display: flex;
    flex-direction: column;
    text-align: center;
}



.card  p{
    display: flex;
    flex-direction: column;
    text-align: center;

}




.bikes{
    display: flex;
    justify-content: center;

    padding: 50px;
}



.card2{ /* for duacti v4*/

    
    margin-top: 60px;

    width: 300px;
    border: 1px solid rgb(248, 246, 246);

    border-radius: 10px;

    overflow: hidden;

    box-shadow: 0 0 10px rgba(0,0,0,.2);
    margin-bottom: 60px;

}


.card2 img{
    width: 100%;

}


.card2 h3{
    display: flex;
    flex-direction: column;
    text-align: center;

}
 .card2 p{
    display: flex;
    flex-direction: column;
    text-align: center;
 }




 .card3{ /* for audi r8*/

    
    margin-top: 60px;

    width: 300px;
    border: 1px solid lightgray;

    border-radius: 10px;

    overflow: hidden;

    box-shadow: 0 0 10px rgba(0,0,0,.2);
    margin-left: 20px;
    margin-bottom: 60px;

 }

 .card3 img{ /* for audi r8*/
    width: 100%;

 }

 .card3 h3{ /* for audi r8*/
     display: flex;
    flex-direction: column;
    text-align: center;
 }

 .card3 p{ /* for audi r8*/
     display: flex;
    flex-direction: column;
    text-align: center;
 }




.card4{ 


    
    margin-top: 60px;

    width: 300px;
    border: 1px solid lightgray;

    border-radius: 10px;

    overflow: hidden;

    box-shadow: 0 0 10px rgba(0,0,0,.2);
    margin-left: 20px;
     margin-bottom: 60px;

}

.card4 img{
    width: 100% ;

}
.card4 h3{
     display: flex;
    flex-direction: column;
    text-align: center;

}

.card4 p{
     display: flex;
    flex-direction: column;
    text-align: center;
}





.card5{

    
    margin-top: 60px;


    width: 300px;
    border: 1px solid lightgray;

    border-radius: 10px;

    overflow: hidden;

    box-shadow: 0 0 10px rgba(0,0,0,.2);
    margin-left: 20px;
    margin-bottom: 60px;
}



.card5 img{
    width: 100% ;


}


 
.card5 h3{
     display: flex;
    flex-direction: column;
    text-align: center;




}
 .card5 p{
     display: flex;
    flex-direction: column;
    text-align: center;
 }


 .card6{

    
    margin-top: 60px;

    width: 300px;
    border: 2px solid rgb(248, 246, 246);

    border-radius: 10px;

    overflow: hidden;

    box-shadow: 0 0 10px rgba(0,0,0,.2);
    margin-left: 20px;
    margin-bottom: 60px;

 }

 .card6 img{
    width: 140% ;

 }

 .card6 h3{
    
 display: flex;
    flex-direction: column;
    text-align: center;
 }

 .card6 p{
    display: flex;
    flex-direction: column;
    text-align: center;
 
 }

 .site-footer{

    background-color: rgb(18, 1, 68);
    padding: 40px 20px 20px 20px;
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

 }

 .footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;

 }

.footer-column{
   flex: 1;
   min-width: 250px;

}

.footer-column h3{
    margin-top: 0;
    color: rgb(29, 13, 117);
    font-size: 22px;
    
}
.footer h4{
    color: #bdc3c7;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 20px 0;


}

.footer-column p{
    color: #a6b0b7;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 70px;
}

.footer-column ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

}
.footer-column{
    margin-bottom: 12px;

}

.footer-column a:hover{
    color: #3498db;
    

}

.services{
   flex: 1;
   min-width: 250px;

}
.services h3{
     margin-top: 0;
    color: rgb(29, 13, 117);
    font-size: 22px;
}

.services h4{
     font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 20px 0;
    color: rgb(170, 168, 168);

}

.services ul{
      display: flex;
    gap: 6px;
    flex-direction: column;
    margin-bottom: 70px;

}

.services li a{
    text-decoration: none;
}

.privacy ul{
    display: flex;
    gap: 6px;
    flex-direction: column;
     margin-bottom: 70px;

}

.privacy li a{
    text-decoration: none;


}
.footer-bottom{

    display: flex;
    flex-direction: row;
    justify-content: center;
}
